In [1]:
import pandas as pd

In [4]:
fields=['Name','category','hostler','10th%','12th%','B_tech%','sem_1_marks', 'sem_1_attendance', 'sem_2_marks',
       'sem_2_attendance', 'sem_3_marks', 'sem_3_attendance', 'sem_4_marks',
       'sem_4_attendance', 'sem_5_marks', 'sem_5_attendance', 'sem_6_marks',
       'sem_6_attendance', 'sem_7_marks', 'sem_7_attendance']
new=pd.read_csv('student_data_cs_4.csv',skipinitialspace=True, usecols=fields)

In [5]:
new.columns

Index(['Name', 'category', 'hostler', '10th%', '12th%', 'B_tech%',
       'sem_1_marks', 'sem_1_attendance', 'sem_2_marks', 'sem_2_attendance',
       'sem_3_marks', 'sem_3_attendance', 'sem_4_marks', 'sem_4_attendance',
       'sem_5_marks', 'sem_5_attendance', 'sem_6_marks', 'sem_6_attendance',
       'sem_7_marks', 'sem_7_attendance'],
      dtype='object')

In [14]:
# def myfunction(string):
#     return float(string)
# new.sem_6_marks=new.sem_6_marks.apply(myfunction)
for i in new.sem_6_marks:
    try:
        i=float(i)
    except:
        i=0

ValueError: could not convert string to float: '#VALUE!'